<html layout:decorate="~{layout}">
<div class="container" layout:fragment="content">
	<div class="row">
		<div class="col">
			<div class="jumbotron">
				<h1>질문 상세 내용</h1>
			</div>
			<div class="card">
				<div class="card-header">
					본문
				</div>
				<div class="card-body">
					<h5 class="card-title">[[${question.subject}]]</h5>
					<p class="card-text">[[${question.content}]]</p>
				</div>
			</div>
			<strong>[[${#lists.size(question.answerList)}]]개의 답변이 있습니다.</strong>
			<form th:action="@{|/answer/create/${question.id}|}" method="post">
				<textarea name="content" id="" cols="30" rows="10"></textarea>
				<input type="submit" value="답변 등록" />
			</form>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">번호</th>
						<th scope="col">내용</th>
						<th scope="col">작성날짜</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="answer, loop : ${question.answerList}">
						<th scope="row">[[${loop.count}]]</th>
						<td>
							[[${answer.content}]]
						</td>
						<td th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>

</html>